@import '~@angular/material/prebuilt-themes/purple-green.css';

.tools{
    position: absolute;
    display: flex;
    top: 5px;
    left: 200px;
    width: 1260px;
    height: 103px;
    border-radius: 50px;
    border: 1px solid yellow;
    background: #1d1d1d;
}

.konva-align{
    position: absolute;
    top: 108px;
    left: 0%;
    cursor: var(--wbCursor);
}

.grid-holder{
    position: relative;
    top: 25%;
    left: 5%;
    width: 300px;
}

.grid-holder2{
    position: relative;
    top: 25%;
    left: 5.1%;
    width: 24px;
}

.grid-holder3{
    position: relative;
    top: 25%;
    left: 7.5%;
    width: 100px;
}

.grid-holder4{
    position: relative;
    top: 25%;
    left: 10%;
    width: 100px;
}

.grid-holder5{
    position: relative;
    top: 25%;
    left: 12.5%;
    width: 100px;
}

.grid-holder6{
    position: relative;
    top: 25%;
    left: 15%;
    width: 200px;
}

.mini-grid-holder{
    position: relative;
    top: -2%;
    left: -2%;
    width: 50px;
}

.mini-grid-holder2{
    position: relative;
    top: 1px;
    width: 50px;
}

#box{
    position: relative;
    left: 10px;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: white;
}
#red_rgb, #blue_rgb, #green_rgb{
    position: relative;
    left: 10px;
    height: 10px;
    width: 90px;
    border-radius: 50px;
    border: 1px solid silver;
}
.more-colors #red_rgb{
    background: linear-gradient(90deg, #000, red);
    
}
.more-colors #green_rgb{
    background: linear-gradient(90deg, #000, green);
}
.more-colors #blue_rgb{
    background: linear-gradient(90deg, #000, blue);
}
.more-colors{
    position: relative;
    left: 15.5%;
    place-items: center;
    display:grid;
    color: red;
    font-family: Verdana;
}
.font{
    position: relative;
    height: 70px;
    left: 17.25%;
    place-items: center;
    display:grid;
    font-family: Verdana;
    color: white;
}
#txt{
    position: relative;
    left: 10px;
    height: 10px;
    width: 85px;
    border-radius: 50px;
    border: 1px solid silver;
}
.font #txt{
    background: gray;
}

.rgb-value{
    position: relative;
    width: 50px;
    height: 20px;
    resize: none;
    border-radius: 5px;
    text-align: center;
}

mat-grid-tile {
    border: 1px solid;
    border-color: rgba(246, 246, 246, 0.529);
    font-size: 20px;
    color: rgba(246, 246, 246, 0.529);
}

#special-tile{
    font-size: 25px;
}

mat-grid-tile:hover{
    color: rgba(127, 124, 124, 0.575);
    cursor: pointer;
}

mat-grid-tile:active{
    color: rgba(92, 88, 88, 0.575);
    cursor: pointer;
}

.colors{
    border: none;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}

#color-tile{
    border: none;
}

#red{
    background-color: red;
}

#black{
    background-color: black;
}

#white{
    background-color: white;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#gray{
    background-color: gray;
}

#pink{
    background-color: rgb(248, 15, 198);
}

#brown{
    background-color: brown;
}

#rose{
    background-color: rgb(246, 95, 121);
}

#orange{
    background-color: orange;
}

#lime{
    background-color: lime;
}

#turquoise{
    background-color: turquoise;
}

#purple{
    background-color: purple;
}

#gold{
    background-color: gold;
}

#lblue{
    background-color: lightskyblue;
}

@-webkit-keyframes jump
{
    50%{
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0x);
    }
}
@keyframes jump
{
    50%{
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0x);
    }
}

.colors:hover{
    border: silver solid;
    cursor: pointer;
}

.colors:focus{
    -webkit-animation: jump 500ms ease;
    animation: jump 500ms ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    border: 3px solid silver;
}
