<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="tools">
    <div class="grid-holder">
        <mat-grid-list cols="6">
            <mat-grid-tile title="Selector" (click)="selector()">
                <i class="fa fa-mouse-pointer"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Brush" (click)="brush()">
                <i class="fa fa-paint-brush" ></i>
            </mat-grid-tile>
            <mat-grid-tile title="Fill" (click)="Fill()">
                <i class="fa fa-square"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Erase shape" (click)="Erase()" >
                <i class="fa fa-eraser"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Clear screen" (click)="clearScreen()">
                <i class="fa fa-trash"></i>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mini-grid-holder">
                    <mat-grid-list cols="2">
                        <mat-grid-tile title="Line" (click)="line()">
                            &#9135;
                        </mat-grid-tile>
                        <mat-grid-tile title="Triangle" (click)="triangle()">
                            &#9651;
                        </mat-grid-tile>
                        <mat-grid-tile title="Square" (click)="square()">
                            &#9723;
                        </mat-grid-tile>
                        <mat-grid-tile title="Rectangle" (click)="rect()">
                            &#9645;
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-holder2">
        <mat-grid-list cols="1">
            <mat-grid-tile title="Circle" (click)="circle()">
                <i class="fa fa-circle-thin"></i>
            </mat-grid-tile>
            <mat-grid-tile id="special-tile" title="Ellipse" (click)="ellipse()">
                &#11053;
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-holder3">
        <mat-grid-list cols="2">
            <mat-grid-tile title="Undo" (click)="undo()">
                <i class="fa fa-undo"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Redo" (click)="redo()">
                <i class="fa fa-repeat"></i>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-holder4">
        <mat-grid-list cols="2">
            <mat-grid-tile title="Save">
                <i class="fa fa-save"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Load">
                <i class="fa fa-upload"></i>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-holder5">
        <mat-grid-list cols="2">
            <mat-grid-tile title="Copy" (click)="copy()">
                <i class="fa fa-copy"></i>
            </mat-grid-tile>
            <mat-grid-tile title="Paste" (click)="paste()">
                <i class="fa fa-paste"></i>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-holder6">
        <mat-grid-list cols="4">
            <mat-grid-tile id="color-tile">
                <div class="mini-grid-holder2">
                    <mat-grid-list cols="2">
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="black" title="Black" (click)="coloring('black')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="gray" title="Gray" (click)="coloring('gray')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="white" title="White" (click)="coloring('white')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="brown" title="Brown" (click)="coloring('brown')"></button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile id="color-tile">
                <div class="mini-grid-holder2">
                    <mat-grid-list cols="2">
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="pink" title="Pink" (click)="coloring('rgb(248, 15, 198)')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="red" title="Red" (click)="coloring('red')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="rose" title="Rose" (click)="coloring('rgb(246, 95, 121)')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="gold" title="Gold" (click)="coloring('gold')"></button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile id="color-tile">
                <div class="mini-grid-holder2">
                    <mat-grid-list cols="2">
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="orange" title="Orange" (click)="coloring('orange')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="yellow" title="Yellow" (click)="coloring('yellow')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="lime" title="Lime" (click)="coloring('lime')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="lblue" title="Light Blue" (click)="coloring('lightskyblue')"></button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile id="color-tile">
                <div class="mini-grid-holder2">
                    <mat-grid-list cols="2">
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="green" title="Green" (click)="coloring('green')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="turquoise" title="Turquoise" (click)="coloring('turquoise')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="blue" title="Blue" (click)="coloring('blue')"></button>
                        </mat-grid-tile>
                        <mat-grid-tile id="color-tile">
                            <button class="colors" id="purple" title="Purple" (click)="coloring('purple')"></button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <style>
        input[type="range"]{
            -webkit-appearance: none;
            height: 10px;
            width: 80%;
            border-radius: 10%;
            outline: none;
        
        }
        input[type = "range"]::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
    <div class="more-colors">
        <input type = "text" id = "box">
        <input (input)="setRed($event)" name="red_rgb" type = "range" id = "red_rgb" value ="0" min="0" max="255"> 
        <input (input)="setGreen($event)" type = "range" id="green_rgb" value ="0" min="0" max="255">
        <input (input)="setBlue($event)" type = "range" id = "blue_rgb" value ="0" min="0" max="255">
    </div>
    <div class="font">
        <textarea name="font" id="txt" cols="4" rows="2"></textarea>
    </div>
</div>

<div class="konva-align" id="xas">
    <div id="konva-holder" (mousedown)="mouseDownHandler()" (mousemove)="mouseMoveHandler()"
        (mouseup)="mouseUpHandler()">
    </div>
</div>